.search{
    display: flex;
    justify-content: center; 
    padding: 10px;
}
.searchDiv {
    display: flex;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.pageLogoW img  {
  width: 300px;
  height: 150px;
    display: flex;
}
.search-bar2 {
    display: flex;
    align-items: center;
    border: 1px solid #cdcdcdff;
    padding: 5px;
    border-radius: 15px;
    background-color: #f1f1f1ff;
    width: 60%;
  }
  
  .search-bar2 input {
    padding: 8px;
    font-size: 32px;
    border-radius: 4px;
    border: none;
    background-color: #f1f1f1ff;
    width: 100%;
    font-size: 30px;
  }
  .search-bar2 input:focus {
    border: none; 
    outline: none; 
  }

  .searchIcon2 {
    background-color: #ffffff;
    color: #000000;
    border-radius: 33%;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
  }

  .searchIcon2 svg {
    width: 25px;
    height: 25px;
  }
