@font-face {
  font-family: 'CustomFont';
  src: url('./assets/TiltNeon-Regular.ttf') format('truetype'); /* Specify the path to your TTF font file */
  font-weight: normal;
  font-style: normal;
}
.App {
  width: 100%;
  /* height: fit-content; */
  background-color: #f1f1f1ff;
  font-family: 'CustomFont', sans-serif;

  /* font-family: cursive; */
}
